@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", serif;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.site-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  gap: 10px;
  flex: 2;
}

header {
  grid-area: header;
  background-color: aquamarine;
  text-align: center;
  display: grid;
  align-items: center;
  line-height: 3rem;
  width: 100%;
}

nav {
  grid-area: nav;
  margin-left: 0 1.5em;
  align-items: center;
  padding: 0 0.5rem;
}

nav h2 {
  text-align: center;
  padding: 0.3rem;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0.5rem;
}

nav ul li {
  align-items: center;
  margin: 0;
}

main {
  grid-area: main;
  align-items: center;
  min-width: calc(100vw - 200px);
  overflow: auto;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grid-item img {
  width: 100%;
  max-width: 500px;
  height: 450px;
}

.btn {
  background-color: aquamarine;
  color: black;
  width: 100%;
  text-align: center;
}

footer {
  grid-area: footer;
  background-color: aquamarine;
  text-align: center;
  line-height: 3rem;
  width: 100%;
}

/* Media queries for responsiveness */
/* @media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); 
  }
} */
