/* Estilos Generales */

@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  background-color: rgb(255, 255, 255);
  font-family: "Nunito", serif;
}

/* Estilos Layout General */

.site-layout {
  display: grid;
  grid-template-areas:
    "header header"
    "nav main"
    "footer footer";
  gap: 10px;
  flex: 1;
  grid-template-columns: 1fr 3fr;
}

header {
  grid-area: header;
  background-color: aquamarine;
  text-align: center;
  display: grid;
  align-items: center;
  line-height: 3rem;
  width: 100%;
}

nav {
  grid-area: nav;
  align-items: center;
  padding: 0 0.5rem;
}

nav h2 {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: left;
}

nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0.5rem;
  align-items: left;
}

main {
  grid-area: main;
  align-items: center;
  min-width: calc(100vw - 200px);
  overflow: auto;
  padding: 15px;
}

/* Grilla y tarjeta de productos */

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
  align-items: center;
  padding: 1rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.grid-item h4 {
  font-size: larger;
  margin: 0.5rem 0 0.3 0;
}

.grid-item p {
  font-size: smaller;
  padding: 0.5rem;
}

.grid-item img {
  width: 100%;
  max-width: 500px;
  height: 450px;
  border-radius: 1.5%;
  margin: 0.7rem 0 0.7rem;
}

.btn {
  color: black;
  text-decoration: none;
  width: 100px;
  text-align: center;
  border-radius: 34px 34px 34px 34px;;
  border: 1px solid black;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  padding: 0.5rem;
}

.btn:hover {
  background-color: aquamarine;
}

footer {
  grid-area: footer;
  background-color: aquamarine;
  text-align: center;
  line-height: 3rem;
  width: 100%;
}

/* Estilos para pantallas pequeñas */

@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr); 
  }
}
@media (max-width: 800px) {
  .grid-container {
    grid-template-columns: repeat(1, 1fr); 
  }
}
